body {
	margin: 0px;
	padding: 0px;
	background-color: beige;
}
#title {
	text-align: center;
	background-image: url(media/cse.jpg);
	padding-top: 100px;
	page-break-after: bo;: 100px;
	color: white;
	font-size: 3vw;
	background-repeat: no-repeat;
	background-size: 100%;
}
#container {
	padding-left: 50px;
	padding-right: 50px;
}
.ctr {
	display: flex;
	justify-content: center;
}

.card {
	display: flex;
	border-radius: 50px;
	padding-bottom: 20px;
}
.right {
	background-color: black;
	color: white;
}
.card-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.left {
	background-color: white;
	color: black;
}
.card-text {
	padding: 50px;
}
